
.game-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 0.5rem;
}

.page-wrapper {
    margin: 1rem 1.5rem;
    width: min(1950px, 95%);
    margin-inline: auto;
}

.get-week {
    display: flex;
    gap: .5rem;
    margin-top: 1rem;
}

.get-week button {
    background-color: #0064ff;
    border: none;
    color: #fff;
    padding: .25rem .5rem;
    cursor: pointer;
}

.get-week button:hover {
    background-color: grey;
}